* {
  font-family: Arial, Helvetica, sans-serif;
}

/*added my color to my website*/
body {
  background-color: lightgray;
}

.quiz,
.score {
  margin: 60px auto 0 auto;
  max-width: 500px;
}

/*changed my letters for my title */
#top {
  color: purple;
}

/*added this here so on my website the container is center in the middle*/
.contianer {
  position: absolute;
  left: 50%;
  height: 580px;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/*this changed my color in my p tags and moved this a little to the right*/
p {
  margin: 15px 15px;
  color: white;
}

/*center my text*/
.landing {
  text-align: center;
}

.scoresHeader {
  position: absolute;
  top: 15px;
  left: 15px;
}

/*puts my timer to the right on my screen */
.timer {
  position: absolute;
  top: 15px;
  right: 15px;
}

/*addded these proterties to my buttons to make them look well the colors I want and the cursor when hover over them to be a pointer*/
button {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  color: white;
  background-color: purple;
  border: none;
  padding: 20px;
}

/*when going over the buttons they should turn this color*/
button:hover {
  background-color: blueviolet;
}

.options button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}
 
/*hides my div with this class by displaying them as none */
.hide {
  display: none;
}


.feedback {
  font-style: bold;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 15px;
  color: white;
  border-top: 2px solid purple;
}

ol {
  padding-left: 15px;
  max-height: 600px;
  overflow: auto;
}

li{
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: white;
}
